
.search {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border-radius: 9px;
    border: 1px solid #00000019;
    padding: 10px;
    height: 20px;

    @media screen and (max-width: 600px) {
        width: 100%;
    }

    input {
        outline: none;
        border: none;
        font-size: 16px;
        color: #00000099;
        width: 100%;
    }
}